workflows/grid-dashboard-data.json
{
  "name": "GRID Dashboard — Live Data API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "grid-dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "grid-dashboard"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GRID Dashboard Data Aggregator — v4\n// Auto-detects available HTTP method in sandbox\n// ============================================================\n\n// --- SECURITY ---\nconst DASHBOARD_TOKEN = 'grid_fndry_7kX9mP2qR4wL';\nconst query = $input.first().json.query || {};\nif (!query.token || query.token !== DASHBOARD_TOKEN) {\n  return [{ json: { error: 'Unauthorized', code: 401 } }];\n}\n\n// --- CONFIGURATION ---\nconst CLICKUP_API_KEY = 'YOUR_CLICKUP_API_KEY';\n\nconst LIST_IDS = {\n  buildPipeline:   '901414312567',\n  shipped:         '901414312568',\n  agentRegistry:   '901414312565',\n  sprintBoard:     '901414312576',\n  backlog:         '901414312577',\n  weeklyExec:      '901414312579',\n  reviewQueue:     '901414312573',\n  systemHealth:    '901414312575',\n  researchQueue:   '901414312580',\n  tiktokScripts:   '901414181769',\n  tiktokTakes:     '901414172358',\n  linkedin:        '901414312340'\n};\n\nconst errors = [];\nlet httpMethod = 'unknown';\n\n// --- AUTO-DETECT HTTP METHOD ---\nlet doRequest;\n\n// Try 1: this.helpers.httpRequest (n8n internal)\ntry {\n  if (this && this.helpers && typeof this.helpers.httpRequest === 'function') {\n    httpMethod = 'this.helpers.httpRequest';\n    doRequest = async function(url) {\n      return await this.helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        headers: { 'Authorization': CLICKUP_API_KEY }\n      });\n    }.bind(this);\n  }\n} catch(e) { errors.push('this.helpers check: ' + e.message); }\n\n// Try 2: $helpers.httpRequest\nif (!doRequest) {\n  try {\n    if (typeof $helpers !== 'undefined' && typeof $helpers.httpRequest === 'function') {\n      httpMethod = '$helpers.httpRequest';\n      doRequest = async function(url) {\n        return await $helpers.httpRequest({\n          method: 'GET',\n          url: url,\n          headers: { 'Authorization': CLICKUP_API_KEY }\n        });\n      };\n    }\n  } catch(e) { errors.push('$helpers check: ' + e.message); }\n}\n\n// Try 3: fetch (Node 18+)\nif (!doRequest) {\n  try {\n    if (typeof fetch === 'function') {\n      httpMethod = 'fetch';\n      doRequest = async function(url) {\n        const resp = await fetch(url, {\n          method: 'GET',\n          headers: { 'Authorization': CLICKUP_API_KEY }\n        });\n        if (!resp.ok) throw new Error('HTTP ' + resp.status);\n        return await resp.json();\n      };\n    }\n  } catch(e) { errors.push('fetch check: ' + e.message); }\n}\n\n// Try 4: globalThis.fetch\nif (!doRequest) {\n  try {\n    if (typeof globalThis !== 'undefined' && typeof globalThis.fetch === 'function') {\n      httpMethod = 'globalThis.fetch';\n      doRequest = async function(url) {\n        const resp = await globalThis.fetch(url, {\n          method: 'GET',\n          headers: { 'Authorization': CLICKUP_API_KEY }\n        });\n        if (!resp.ok) throw new Error('HTTP ' + resp.status);\n        return await resp.json();\n      };\n    }\n  } catch(e) { errors.push('globalThis.fetch check: ' + e.message); }\n}\n\n// No HTTP method found — return diagnostic\nif (!doRequest) {\n  return [{ json: {\n    error: 'No HTTP method available in sandbox',\n    _debug: {\n      errors: errors,\n      httpMethod: 'none',\n      apiKeySet: CLICKUP_API_KEY !== 'YOUR_CLICKUP_API_KEY',\n      availableGlobals: Object.keys(typeof globalThis !== 'undefined' ? globalThis : {}).slice(0, 30),\n      hasThis: typeof this !== 'undefined',\n      thisKeys: typeof this !== 'undefined' ? Object.keys(this).slice(0, 20) : []\n    }\n  }}];\n}\n\n// --- FETCH LISTS ---\nasync function fetchList(name, listId) {\n  try {\n    var url = 'https://api.clickup.com/api/v2/list/' + listId + '/task?include_closed=true&subtasks=true';\n    var data = await doRequest(url);\n    return (data.tasks || []).map(function(t) {\n      return {\n        id: t.id,\n        name: t.name,\n        status: (t.status && t.status.status) ? t.status.status : 'unknown',\n        statusColor: (t.status && t.status.color) ? t.status.color : '#666',\n        priority: (t.priority && t.priority.priority) ? t.priority.priority : null,\n        assignees: (t.assignees || []).map(function(a) { return a.username || a.email || ''; }),\n        dateCreated: t.date_created,\n        dateUpdated: t.date_updated,\n        dueDate: t.due_date,\n        url: t.url\n      };\n    });\n  } catch (e) {\n    errors.push(name + ': ' + e.message);\n    return [];\n  }\n}\n\nvar results = await Promise.all([\n  fetchList('buildPipeline', LIST_IDS.buildPipeline),\n  fetchList('shipped', LIST_IDS.shipped),\n  fetchList('agentRegistry', LIST_IDS.agentRegistry),\n  fetchList('sprintBoard', LIST_IDS.sprintBoard),\n  fetchList('backlog', LIST_IDS.backlog),\n  fetchList('weeklyExec', LIST_IDS.weeklyExec),\n  fetchList('reviewQueue', LIST_IDS.reviewQueue),\n  fetchList('systemHealth', LIST_IDS.systemHealth),\n  fetchList('researchQueue', LIST_IDS.researchQueue),\n  fetchList('tiktokScripts', LIST_IDS.tiktokScripts),\n  fetchList('tiktokTakes', LIST_IDS.tiktokTakes),\n  fetchList('linkedin', LIST_IDS.linkedin)\n]);\n\nvar buildPipeline = results[0];\nvar shipped = results[1];\nvar agentRegistry = results[2];\nvar sprintBoard = results[3];\nvar backlog = results[4];\nvar weeklyExec = results[5];\nvar reviewQueue = results[6];\nvar systemHealth = results[7];\nvar researchQueue = results[8];\nvar tiktokScripts = results[9];\nvar tiktokTakes = results[10];\nvar linkedin = results[11];\n\nvar building = buildPipeline.filter(function(t) {\n  return ['in progress', 'building'].indexOf(t.status.toLowerCase()) >= 0;\n});\nvar buildBacklog = buildPipeline.filter(function(t) {\n  return ['backlog', 'open', 'to do'].indexOf(t.status.toLowerCase()) >= 0;\n});\nvar buildShipped = buildPipeline.filter(function(t) {\n  return ['shipped', 'complete', 'done', 'closed'].indexOf(t.status.toLowerCase()) >= 0;\n});\n\nvar sprintActive = sprintBoard.filter(function(t) {\n  return ['in progress', 'building'].indexOf(t.status.toLowerCase()) >= 0;\n});\nvar sprintShipped = sprintBoard.filter(function(t) {\n  return ['shipped', 'complete', 'done', 'closed'].indexOf(t.status.toLowerCase()) >= 0;\n});\n\nvar contentTotal = tiktokScripts.length + tiktokTakes.length + linkedin.length;\n\nvar payload = {\n  timestamp: new Date().toISOString(),\n  _debug: {\n    errors: errors,\n    httpMethod: httpMethod,\n    apiKeySet: CLICKUP_API_KEY !== 'YOUR_CLICKUP_API_KEY',\n    apiKeyPrefix: CLICKUP_API_KEY.substring(0, 6)\n  },\n  stats: {\n    totalAgents: agentRegistry.length,\n    buildPipelineTotal: buildPipeline.length,\n    shipped: shipped.length + buildShipped.length,\n    building: building.length,\n    backlog: buildBacklog.length,\n    sprintTotal: sprintBoard.length,\n    sprintActive: sprintActive.length,\n    sprintShipped: sprintShipped.length,\n    contentPipeline: contentTotal\n  },\n  layers: {\n    architect: {\n      name: '01 - Architect',\n      agentRegistry: agentRegistry.length,\n      items: agentRegistry.slice(0, 10)\n    },\n    builder: {\n      name: '02 - Builder',\n      total: buildPipeline.length + shipped.length,\n      building: building,\n      shipped: shipped.concat(buildShipped),\n      backlog: buildBacklog\n    },\n    validator: {\n      name: '03 - Validator',\n      reviewQueue: reviewQueue.length,\n      systemHealth: systemHealth.length,\n      items: reviewQueue.concat(systemHealth).slice(0, 10)\n    },\n    pm: {\n      name: '04 - PM',\n      sprintBoard: sprintBoard,\n      backlog: backlog,\n      weeklyExec: weeklyExec\n    },\n    scout: {\n      name: '05 - Scout',\n      researchQueue: researchQueue.length,\n      items: researchQueue.slice(0, 10)\n    },\n    librarian: {\n      name: '06 - Librarian',\n      items: []\n    }\n  },\n  content: {\n    tiktokScripts: tiktokScripts.slice(0, 10),\n    tiktokTakes: tiktokTakes.slice(0, 10),\n    linkedin: linkedin.slice(0, 10)\n  },\n  buildPipeline: buildPipeline,\n  recentActivity: [].concat(buildPipeline, sprintBoard, shipped)\n    .sort(function(a, b) { return parseInt(b.dateUpdated) - parseInt(a.dateUpdated); })\n    .slice(0, 15)\n};\n\nreturn [{ json: payload }];"
      },
      "id": "code-aggregator",
      "name": "Aggregate GRID Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "public, max-age=60" }
            ]
          }
        },
        "respondWith": "allIncomingItems"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Aggregate GRID Data", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate GRID Data": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "4"
}
