workflows/grid-supabase-proxy.json
{
  "name": "GS1 — Supabase Proxy v1.3",
  "nodes": [
    {
      "id": "da6795fe-055e-4ab4-a7bf-a4ed6d3261ef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "webhookId": "b63641b7-a0d2-4008-b406-e2273cef8d01",
      "parameters": {
        "httpMethod": "GET",
        "path": "grid-supa-proxy",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "606680fb-9edb-4d92-a94e-962690b557ca",
      "name": "Validate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ],
      "parameters": {
        "jsCode": "const PROXY_TOKEN = 'gfndr_px_yH7QMB5FwOu9Uu_jT41Y2mcE';\nconst incoming = $json.query?.token || '';\nif (!incoming || incoming !== PROXY_TOKEN) { return [{ json: { __auth_failed: true } }]; }\nconst type = $json.query?.type || 'executions';\nconst limit = Math.min(parseInt($json.query?.limit) || 20, 200);\nreturn [{ json: { ...$json, validated: true, queryType: type, queryLimit: limit } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "2f37016d-758b-43a7-91c3-2c30575d68b8",
      "name": "Auth Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0a1baa0b-da1d-4c05-b835-a15e1c6e2296",
              "leftValue": "={{ $json.__auth_failed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "28326a2d-a740-4bb8-9ba9-8ebf00cf8d81",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({error:'Unauthorized',code:401}) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "cb75c6b2-929b-45ab-b64b-de5d3525bd7a",
      "name": "Route Query Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        920,
        520
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.queryType }}",
                    "rightValue": "kpis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "kpis"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.queryType }}",
                    "rightValue": "heatmap",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "heatmap"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.queryType }}",
                    "rightValue": "cost",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cost"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.queryType }}",
                    "rightValue": "snapshots",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "snapshots"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "1ebdd62d-997d-441c-996f-f0cc0f6666b2",
      "name": "HTTP KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        240
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://fppuoqteleayiepoykyc.supabase.co/rest/v1/executions?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcHVvcXRlbGVheWllcG95a3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjI0ODksImV4cCI6MjA4NzQzODQ4OX0.BlTjMTosZIN5poVrjCAuHCaZPt-_S47YfMvxAGlPfs8&select=success,created_at,agent_id&created_at=gte.' + encodeURIComponent(new Date(Date.now()-86400000).toISOString()) + '&order=created_at.desc&limit=500' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "3d27a005-0d1d-474e-a644-dfa8e1f1c9de",
      "name": "Agg KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        240
      ],
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || '[]';\nconst rows = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []);\nconst today = new Date().toISOString().slice(0,10);\nconst execsToday = rows.filter(r => r.created_at && r.created_at.startsWith(today)).length;\nconst succ = rows.filter(r => r.success === true || r.success === 'true').length;\nconst successRate = rows.length ? Math.round((succ/rows.length)*1000)/10 : 0;\nconst slackEvents = rows.filter(r => r.agent_id && r.agent_id.toLowerCase().includes('f4') && r.created_at && r.created_at.startsWith(today)).length;\nreturn [{ json: { type: 'kpis', data: { execsToday, successRate, slackEvents }, ts: new Date().toISOString() } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "3ad47e9a-1d89-4019-a2be-95d0adb07c55",
      "name": "HTTP Heatmap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://fppuoqteleayiepoykyc.supabase.co/rest/v1/executions?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcHVvcXRlbGVheWllcG95a3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjI0ODksImV4cCI6MjA4NzQzODQ4OX0.BlTjMTosZIN5poVrjCAuHCaZPt-_S47YfMvxAGlPfs8&select=agent_id,created_at&created_at=gte.' + encodeURIComponent(new Date(Date.now()-7*86400000).toISOString()) + '&order=created_at.asc&limit=1000' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "06019f80-69c9-4ed6-b29c-810810ea9934",
      "name": "Agg Heatmap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        380
      ],
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || '[]';\nconst rows = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []);\nconst map = {};\nrows.forEach(r => {\n  const key = (r.agent_id||'unknown') + '|' + (r.created_at||'').slice(0,10);\n  map[key] = (map[key]||0)+1;\n});\nconst heatmap = Object.entries(map).map(([k,v]) => { const [agent_id,day] = k.split('|'); return {agent_id,day,cnt:v}; });\nreturn [{ json: { type: 'heatmap', data: { heatmap }, ts: new Date().toISOString() } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "57a62991-1ed7-4ba6-b5ec-6f2f06830e93",
      "name": "HTTP Cost",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        520
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://fppuoqteleayiepoykyc.supabase.co/rest/v1/executions?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcHVvcXRlbGVheWllcG95a3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjI0ODksImV4cCI6MjA4NzQzODQ4OX0.BlTjMTosZIN5poVrjCAuHCaZPt-_S47YfMvxAGlPfs8&select=agent_id,tokens_used,created_at&created_at=gte.' + encodeURIComponent(new Date(Date.now()-7*86400000).toISOString()) + '&tokens_used=not.is.null&order=created_at.asc&limit=500' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "60dd9098-1f51-47e2-aa53-01d87ad65a6f",
      "name": "Agg Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        520
      ],
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || '[]';\nconst rows = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []);\nconst today = new Date().toISOString().slice(0,10);\nconst tokensToday = rows.filter(r => r.created_at && r.created_at.startsWith(today)).reduce((s,r)=>s+(r.tokens_used||0),0);\nconst tokens7d = rows.reduce((s,r)=>s+(r.tokens_used||0),0);\nreturn [{ json: { type: 'cost', data: { tokensToday, tokens7d }, ts: new Date().toISOString() } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "58237b52-210b-4299-a357-3c2ec711688d",
      "name": "HTTP Snapshots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        660
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://fppuoqteleayiepoykyc.supabase.co/rest/v1/workflow_snapshots?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcHVvcXRlbGVheWllcG95a3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjI0ODksImV4cCI6MjA4NzQzODQ4OX0.BlTjMTosZIN5poVrjCAuHCaZPt-_S47YfMvxAGlPfs8&select=id,snapshot_date,workflow_id,workflow_name,active,node_count&order=snapshot_date.desc&limit=50' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "24e0dab9-4b71-4873-8776-1190ca0140f3",
      "name": "Agg Snapshots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        660
      ],
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || '[]';\nconst rows = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []);\nreturn [{ json: { type: 'snapshots', data: { snapshots: rows }, ts: new Date().toISOString() } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "62d5c1bb-79d3-4ba4-89a6-6db6c4f7c611",
      "name": "HTTP Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://fppuoqteleayiepoykyc.supabase.co/rest/v1/executions?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcHVvcXRlbGVheWllcG95a3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjI0ODksImV4cCI6MjA4NzQzODQ4OX0.BlTjMTosZIN5poVrjCAuHCaZPt-_S47YfMvxAGlPfs8&select=id,agent_id,success,created_at,tokens_used,input,output&order=created_at.desc&limit=' + ($json.queryLimit || 20) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "29feee95-73b7-4882-8e55-39a780e84154",
      "name": "Agg Executions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        800
      ],
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || '[]';\nconst rows = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []);\nreturn [{ json: { type: 'executions', data: rows, ts: new Date().toISOString() } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "f4dc6e62-7a06-4e10-8f84-d02035e1c52d",
      "name": "Respond with Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1580,
        520
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Auth Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Failed?": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Query Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Query Type": {
      "main": [
        [
          {
            "node": "HTTP KPIs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Heatmap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Cost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Snapshots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP KPIs": {
      "main": [
        [
          {
            "node": "Agg KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Heatmap": {
      "main": [
        [
          {
            "node": "Agg Heatmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Cost": {
      "main": [
        [
          {
            "node": "Agg Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Snapshots": {
      "main": [
        [
          {
            "node": "Agg Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Executions": {
      "main": [
        [
          {
            "node": "Agg Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg KPIs": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Heatmap": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Cost": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Snapshots": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Executions": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "_meta": {
    "cloud_id": "BJcxSh9G78s4sHKG",
    "deployed": "2026-03-02",
    "arch": "v1.3-text-parse"
  }
}