workflows/grid-dashboard-data.json
{
  "name": "GRID Dashboard — Live Data API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "grid-dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "grid-dashboard"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GRID Dashboard Data Aggregator\n// Uses n8n $helpers.httpRequest() — NOT fetch()\n// ============================================================\n\n// --- SECURITY ---\n// Token must match what the dashboard sends as ?token=xxx\nconst DASHBOARD_TOKEN = 'grid_fndry_7kX9mP2qR4wL';\n\n// Validate token from query string\nconst query = $input.first().json.query || {};\nif (!query.token || query.token !== DASHBOARD_TOKEN) {\n  return [{ json: { error: 'Unauthorized', code: 401 } }];\n}\n\n// --- CONFIGURATION ---\n// Replace with your ClickUp Personal API Token\nconst CLICKUP_API_KEY = 'YOUR_CLICKUP_API_KEY';\n\nconst LIST_IDS = {\n  buildPipeline:   '901414312567',\n  shipped:         '901414312568',\n  agentRegistry:   '901414312565',\n  standards:       '901414312566',\n  archDecisions:   '901414312564',\n  reviewQueue:     '901414312573',\n  qaLog:           '901414312574',\n  systemHealth:    '901414312575',\n  sprintBoard:     '901414312576',\n  backlog:         '901414312577',\n  weeklyExec:      '901414312579',\n  researchQueue:   '901414312580',\n  intelLog:        '901414312581',\n  marketWatch:     '901414312584',\n  processingQueue: '901414312586',\n  knowledgeIndex:  '901414312587',\n  costTracking:    '901414312588',\n  tiktokScripts:   '901414181769',\n  tiktokTakes:     '901414172358',\n  linkedin:        '901414312340'\n};\n\n// Use n8n's built-in HTTP helper (works in sandbox)\nasync function fetchList(listId) {\n  try {\n    const data = await $helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.clickup.com/api/v2/list/${listId}/task?include_closed=true&subtasks=true`,\n      headers: {\n        'Authorization': CLICKUP_API_KEY\n      },\n      returnFullResponse: false\n    });\n    return (data.tasks || []).map(t => ({\n      id: t.id,\n      name: t.name,\n      status: t.status?.status || 'unknown',\n      statusColor: t.status?.color || '#666',\n      priority: t.priority?.priority || null,\n      assignees: (t.assignees || []).map(a => a.username || a.email),\n      dateCreated: t.date_created,\n      dateUpdated: t.date_updated,\n      dueDate: t.due_date,\n      url: t.url\n    }));\n  } catch (e) {\n    console.log(`Failed to fetch list ${listId}: ${e.message}`);\n    return [];\n  }\n}\n\n// Fetch key lists in parallel\nconst [buildPipeline, shipped, agentRegistry, sprintBoard, backlog, \n       weeklyExec, reviewQueue, systemHealth, researchQueue,\n       tiktokScripts, tiktokTakes, linkedin] = await Promise.all([\n  fetchList(LIST_IDS.buildPipeline),\n  fetchList(LIST_IDS.shipped),\n  fetchList(LIST_IDS.agentRegistry),\n  fetchList(LIST_IDS.sprintBoard),\n  fetchList(LIST_IDS.backlog),\n  fetchList(LIST_IDS.weeklyExec),\n  fetchList(LIST_IDS.reviewQueue),\n  fetchList(LIST_IDS.systemHealth),\n  fetchList(LIST_IDS.researchQueue),\n  fetchList(LIST_IDS.tiktokScripts),\n  fetchList(LIST_IDS.tiktokTakes),\n  fetchList(LIST_IDS.linkedin)\n]);\n\n// Categorize build pipeline by status\nconst building = buildPipeline.filter(t => \n  ['in progress', 'building'].includes(t.status.toLowerCase()));\nconst buildBacklog = buildPipeline.filter(t => \n  ['backlog', 'open', 'to do'].includes(t.status.toLowerCase()));\nconst buildShipped = buildPipeline.filter(t => \n  ['shipped', 'complete', 'done', 'closed'].includes(t.status.toLowerCase()));\n\n// Sprint categorization\nconst sprintActive = sprintBoard.filter(t => \n  ['in progress', 'building'].includes(t.status.toLowerCase()));\nconst sprintShipped = sprintBoard.filter(t => \n  ['shipped', 'complete', 'done', 'closed'].includes(t.status.toLowerCase()));\nconst sprintBacklog = sprintBoard.filter(t => \n  ['backlog', 'open', 'to do'].includes(t.status.toLowerCase()));\n\n// Content pipeline\nconst contentTotal = tiktokScripts.length + tiktokTakes.length + linkedin.length;\n\n// Build the response payload\nconst payload = {\n  timestamp: new Date().toISOString(),\n  stats: {\n    totalAgents: agentRegistry.length,\n    buildPipelineTotal: buildPipeline.length,\n    shipped: shipped.length + buildShipped.length,\n    building: building.length,\n    backlog: buildBacklog.length,\n    sprintTotal: sprintBoard.length,\n    sprintActive: sprintActive.length,\n    sprintShipped: sprintShipped.length,\n    contentPipeline: contentTotal\n  },\n  layers: {\n    architect: {\n      name: '01 - Architect',\n      agentRegistry: agentRegistry.length,\n      items: agentRegistry.slice(0, 10)\n    },\n    builder: {\n      name: '02 - Builder',\n      total: buildPipeline.length + shipped.length,\n      building: building,\n      shipped: shipped.concat(buildShipped),\n      backlog: buildBacklog\n    },\n    validator: {\n      name: '03 - Validator',\n      reviewQueue: reviewQueue.length,\n      systemHealth: systemHealth.length,\n      items: reviewQueue.concat(systemHealth).slice(0, 10)\n    },\n    pm: {\n      name: '04 - PM',\n      sprintBoard: sprintBoard,\n      backlog: backlog,\n      weeklyExec: weeklyExec\n    },\n    scout: {\n      name: '05 - Scout',\n      researchQueue: researchQueue.length,\n      items: researchQueue.slice(0, 10)\n    },\n    librarian: {\n      name: '06 - Librarian',\n      items: []\n    }\n  },\n  content: {\n    tiktokScripts: tiktokScripts.slice(0, 10),\n    tiktokTakes: tiktokTakes.slice(0, 10),\n    linkedin: linkedin.slice(0, 10)\n  },\n  buildPipeline: buildPipeline,\n  recentActivity: [...buildPipeline, ...sprintBoard, ...shipped]\n    .sort((a, b) => parseInt(b.dateUpdated) - parseInt(a.dateUpdated))\n    .slice(0, 15)\n};\n\nreturn [{ json: payload }];"
      },
      "id": "code-aggregator",
      "name": "Aggregate GRID Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.code === 401 ? 401 : 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "public, max-age=60" }
            ]
          }
        },
        "respondWith": "allIncomingItems"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Aggregate GRID Data", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate GRID Data": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2"
}
